

html, body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

main.photos {
  padding: 10px;
  display: grid;
  grid-gap: 6px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
}



img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}



.wide {
  grid-column: span 6;
  grid-row: span 3;
}

.tall {
  grid-row: span 2;
  grid-column: span 4;
}

.big {
  grid-column: span 8;
  grid-row: span 4;
}

.header {
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  color: #fff; 
  z-index: 999; 
}
.content{
  margin-top: 100px;
}

.logo img {
  max-width: 100px; 
  height: auto; 
}

.site-name {
  flex-grow: 1; 
  text-align: center;
}

.site-name h1 {
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .logo {
    order: 1; 
    text-align: center; 
  }

  .site-name {
    order: 2; 
  }
}

.load-more-button {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #0056b3; 
}
.banner {
  background: linear-gradient(to right, #ff6b6b, #ffa07a); 
  color: #fff; 
  text-align: center;
  margin: 10PX;
  padding: 50px;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .banner {
      padding: 30px;
  }

  .banner h1 {
      font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  main.photos {
   display: flex;
   flex-direction: column;
  }
}